{% extends 'base.html' %}

{% block styles %}
  <link rel="stylesheet" href="./static/pokedex.css">
{% endblock %}

{% block content %}
  <form class="poke_form" method="POST">
    <p> Enter Pokemon Name or Number </p>
    <div class="pokemon-form">
      <input type="text" class="form-control" id="pokemonLabel" name="pokemon_name" >
      </div>
    <button type="submit" class="btn-primary">Search Pokemon</button>
  </form>

  {% if poke_dict %}

<div class="poke_table">
  <table>
    <tr>
      <td>
        <img class="pokemon_icon" src="{{ poke_dict['sprite'] }}">
      </td>
    </tr>
  </table>

  <table>
    <tr>
      <th scope="row" class="capitalize">{{ poke_dict['pokemon_name']}} </th>
    </tr>
  </table>

  <table>
    <tr>
      <th scope="col">Ability: </th>
      <td>{{ poke_dict['ability_name'] }} </td> 
    </tr>  
  
    <tr>
      <th scope="col">Base Exp: </th>
      <td>{{ poke_dict['base_experience'] }}</td> 
    </tr>

    <tr>
      <th scope="col">Att Stat: </th>
      <td>{{ poke_dict['attack_base_stat'] }}</td> 
    </tr>

    <tr>
      <th scope="col">HP Stat: </th>
      <td>{{ poke_dict['hp_base_stat'] }}</td> 
    </tr>

    <tr>
      <th scope="col">Def Stat: </th>
      <td>{{ poke_dict['defense_base_stat'] }}</td>
    </tr>
  </table>
</div>

<div>
<form class="add_form" method="POST" action="{{ url_for('main.add') }}">
  <input type="hidden" name="pokemon_name" value="{{ poke_dict['pokemon_name'] }}">
  <div>
    <button class="btn-secondary" type="submit">Add to Team</button>
  </div>
</form>
</div>

  {% endif %}
{% endblock %}
