{% extends 'base.html' %}

<h1>
    Pokemon Team
</h1>

{% block styles %}
    <link rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='team.css') }}">
{% endblock %}

{% block content %}
    <h1> Pokemon Team</h1>
    <div class="team">
        {% for pokemon in team %}
        <div class="pokemon_team">
            <table>
                <h2>{{ pokemon.name }}</h2>
                <img src="{{ pokemon.sprite }}"/>
                <p>{{ pokemon.pokemon_name }}</p>
                <p>Abi: {{ pokemon.ability_name }}</p>
                <p>Exp: {{ pokemon.base_experience }}</p>
                <p>Att: {{ pokemon.attack_base_stat }}</p>
                <p>Def: {{ pokemon.defense_base_stat }}</p>
                <p>HP: {{ pokemon.hp_base_stat }}</p>
                <form action="{{ url_for('main.remove') }}" method="post">
                    <input type="hidden" name="pokemon_name" value="{{ pokemon.pokemon_name }}">
                    <button class="remove_button" type="submit" class="remove-button">Remove</button>
                  </form>
            </table>
        </div>
        {% endfor %}
    </div>
{% endblock %}

