{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="../static/login.css">
{% endblock %}

{% block content %}
<div class="login-table">
    <h1 class="text-center">Pokemon Trainers</h1>
    <h2 class="text-center">Please Login to Begin Your Journey</h2>

    <form class="login-unit" method="POST">
      {{ form.hidden_tag() }}
        <div class="Input1">
          <label for="LoginLabel" class="form-label">Email Address </label>
          <br>
          {{ form.email(class="form-control cus-input", id="LoginLabel") }}
        </div>

        <div class="Input1">
          <label for="PasswordLabel" class="form-label">Password </label>
          <br>
          {{ form.password(class='form-control cus-input', id="PasswordLabel")}}
        </div>

        {{ form.submit_button(class="btn-primary") }}
    </form>
      <img class="login-logo" src="../static/photos/ghastly.png" alt="Login_PokemonPhoto">

</div>
{% endblock %}