{% extends 'base.html' %}

{% block styles %}
  <link rel="stylsheet" href="../static/styles/pokedex.css">
{% endblock %}

{% block content %}
    <form method="POST">
      <p> Enter Pokemon Name </p>
      <div class="pokemon-form">
        <label for="pokemonlabel" class="form-label">Pokemon Name</label>
        <input type="text" class="form-control" id="pokemonLabel" name="pokemon_name" >
        </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>

    {% if poke_dict %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Pokemon</th>
          <th scope="col">Ability</th>
          <th scope="col">Base Exp</th>
          <th scope="col">Att Stat</th>
          <th scope="col">HP Stat </th>
          <th scope="col">Def Stat</th>
          <th scope="col">Sprite</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{ poke_dict['pokemon_name']}} </th>
          <td>{{ poke_dict['ability_name'] }} </td> 
          <td>{{ poke_dict['base_experience'] }}</td> 
          <td>{{ poke_dict['attacj_base_experience'] }}</td> 
          <td>{{ poke_dict['hp_base_stat'] }}</td> 
          <td>{{ poke_dict['defense_base_stat'] }}</td> 
          <td>{{ poke_dict['sprite'] }}</td> 
        </tr>
      </tbody>
    </table>
    {%endif%}
  {% endblock %}
