{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{%  block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
</head>
    <body>
        <header>
            <nav class="navbar">
                <div class="nav_container">
                  <a href="#"><img class="pokemon-logo" src="../static/photos/pokemon-logo.png"></a>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                      <a class="nav_home" href="#">Home</a>   
                      <a class="nav_pokepedia" href="#">Pokepedia</a>  
                      <a class="nav_signup" href="#">Login</a>               
                    </div>
                  </div>
                </div>
              </nav>
        </header>
        <div class="home_container">
            <img class="gengar" src="../static/photos/gengar-front.png">
            <table class="pokeball-table">
                <tr>
                    <th class="pokeball-home"> <img src="../static/photos/pokemon-ball1.png"></th>
                </tr>
                <tr>
                    <th class="journey">Your Pokemon Journey Awaits</th>
                 </tr>
            </table>
        </div>
    </body>
    </html>
{% endblock %}