<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/invalid.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600&family=Amarante&family=Jura:wght@300;400;600&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
   <p>UH OH....THAT WAS ONIX-EXPECTED</p>
   <p>PLEASE ENTER A VALID POKEMON NAME OR NUMBER</p>
<img src="../static/photos/onix.png">
</body>
</html>