{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="../static/login.css">
{% endblock %}

{% block content %}
    <h1 class="text-center">Pokemon Trainers</h1>
    <h2 class="text-center">Please Login to Begin Your Journey</h2>
    <img src="/app/photos/pokemon.png" alt="LoginPokemonPhoto">

    <form>
      {{ form.hidden_tag() }}
        <div class="Input1">
          <label for="LoginLabel" class="form-label">Email Address</label>
          {{ form.email(class="form-text", id="LoginLabel") }}
        </div>

        <div class="Input1">
          <label for="PasswordLabel" class="form-label">Password</label>
          {{ form.password(class='form-control', id="PasswordLabel")}}
        </div>

        {{ form.submit_button(class="btn btn-primary") }}
    </form>
{% endblock %}